apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: fast-food
  name: fast-food
spec:
  replicas: 2
  selector:
    matchLabels:
      app: fast-food
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: fast-food
    spec:
      containers:
      - image: gustavoaleq/fastfood:3
        name: fastfood
        env:
        - name: SPRING_DATASOURCE_URL
          valueFrom:
            secretKeyRef:
              name: postgres-secret
              key: URL
        - name: SPRING_DATASOURCE_USERNAME
          valueFrom:
            secretKeyRef:
              name: postgres-secret
              key: POSTGRES_USER
        - name: SPRING_DATASOURCE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgres-secret
              key: POSTGRES_PASSWORD
        ports:
        - containerPort: 8080
        resources: 
          requests:
            cpu: "100m"
            memory: "256Mi"
          limits: 
            cpu: "300m"
            memory: "512Mi"
        