apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: fastfood-db
  name: fastfood-db
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fastfood-db
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: fastfood-db
    spec:
      containers:
      - image: postgres:16
        name: postgres
        ports:
        - containerPort: 5432
        env:
        - name: POSTGRES_DB
          valueFrom:
            configMapKeyRef:
              name: postgres-config
              key: POSTGRES_DB
        - name: POSTGRES_USER
          valueFrom:
            secretKeyRef:
              name: postgres-secret
              key: POSTGRES_USER
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgres-secret
              key: POSTGRES_PASSWORD
        livenessProbe:
          tcpSocket:
            port: 5432
          initialDelaySeconds: 30
          periodSeconds: 10
          failureThreshold: 5
        readinessProbe:
          tcpSocket:
            port: 5432
          initialDelaySeconds: 10
          periodSeconds: 5
          failureThreshold: 3      
        resources:
          requests:
            cpu: "100m"
            memory: "256Mi"
          limits:
            cpu: "300m"
            memory: "512Mi"
